.semicircle {
	top: 0;
	left: 0;
	width: calc(100% + var(--bs-gutter-x));
	height: 8em;
	border-radius: 0 0 45% 45%;
	margin-left: calc(var(--bs-gutter-x) * -0.5);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8em;
}

.logo img {
	max-width: 50%;
	max-height: 50%;
	width: auto;
}

.sidebar-text {
	font-size: calc(2rem + 2vw);
	text-align: center;
}

.prompt-container {
	width: calc(100% + var(--bs-gutter-x));
	font-size: 1vw;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	text-wrap: wrap;
}

.circle-icon {
	font-size: 0.5em;
	margin: 0 0.8em;
	color: #5c7c8d;
}

.sort-btn {
	border: none;
	background-color: transparent;
	border: solid transparent;
	border-width: 0 0 3px 0;
}

.sort-btn.active {
	border: solid var(--text-color);
	border-width: 0 0 3px 0;
}

.sort-btn:hover {
	border: solid var(--dark);
	border-width: 0 0 3px 0;
}

.nav-buttons {
	position: absolute;
	top: 0px;
	right: 0px;
}

.fontawesome-btn {
	color: var(--text-color);
	font-size: 1.25rem;
}

.fontawesome-btn:hover {
	color: var(--dark);
	font-size: 1.25rem;
}

.logout-btn {
	border: none;
	background-color: transparent;
}

.like-btn,
.comment-btn {
	border: none;
	border-radius: 100%;
	text-decoration: none;
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	background-color: transparent;
	padding: 0 10% 0 10%;
	margin: 0;
}

.like-icon,
.comment-icon {
	color: var(--text-color);
	margin: 0.1rem;
}

.like-btn:hover,
.comment-btn:hover {
	background-color: rgba(0, 0, 0, 0.05);
}