:root{
    --lightest: #FEF5EC;
    --medium: #FBE0C3;
    --dark: #FFBB98;
    --text-color: #273841;
}

@font-face {
    font-family: 'Bauhaus';
    src: url('./fonts/BauhausITCbyBT-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.lightest {
    background-color: var(--lightest);
}

.medium {
    background-color: var(--medium);
}

.dark {
    background-color: var(--dark);
}

.text {
    color: var(--text-color);
    font-family: 'Bauhaus', sans-serif;
}