:root{
    --lightest: #FEF5EC;
    --medium: #FBE0C3;
    --dark: #FFBB98;
    --text-color: #273841;
    --text-secondary: #5C7C8D;
}

@font-face {
    font-family: 'Bauhaus';
    src: url('./fonts/BauhausITCbyBT-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.lightest {
    background-color: var(--lightest);
}

.medium {
    background-color: var(--medium);
}

.dark {
    background-color: var(--dark);
}

.text-primary {
    color: var(--text-color) !important;
    font-family: 'Bauhaus', sans-serif;
}

.text-secondary {
    color: var(--text-secondary) !important;
    font-family: 'Bauhaus', sans-serif;
}

/* https://getcssscan.com/css-buttons-examples */
.custom-btn {
    background-color: #FBE0C3;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .custom-btn:hover {
    background-color: #FFBB98;
  }
  
  .custom-btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }